@import "vars";

.navbar-light {
  background-color: $nav-bg !important;
  border-bottom: $dark-txt;
  border-width: 2px;
  z-index: 1000;
  filter: drop-shadow(2px 2px 5px darken($nav-bg, 60));
}

.jumbo-wrap {
  filter: drop-shadow(0px 2px 5px #6b1403);
  padding: 0;
}
.jumbotron {
  padding: 150px 30px;
  background: linear-gradient(to right, $header-bg, $header-bg),
    url(http://localhost:5000/static/img/shas.png) no-repeat center right fixed;
  background-size: cover;
  color:$very-dark-txt;
  clip-path: polygon(0 0, 100% 0%, 100% 77%, 0 100%);
}
