@import url("https://fonts.googleapis.com/css2?family=Cousine&family=Suez+One&display=swap");

$hebrew: "Suez One", serif;
$hebrew-input: "Cousine", monospace;
$tab-active: wheat;
$tab-inactive-bg: cornflowerblue;
$tab-active-bg: darkblue;


.hebrew {
  font-family: $hebrew;
  direction: rtl;
  text-align: right;
  &.heb-title {
      text-align: center;
      text-emphasis: bold;
  }
}
.hebrew-input {
  font-family: $hebrew-input;
}
.myTabs {
  display: flex;
  text-align: right;
  list-style: none;
  margin-bottom: 0;
  .btn-tab {
    border-color: $tab-active-bg;
    border-width: 1px;
    border-style: solid solid none solid;
    background-color: $tab-inactive-bg;
    border-radius: 5px 5px 0 0;
    &.active,
    &:hover {
      background-color: $tab-active-bg;
      color: $tab-active;
    }
  }
}

.tab-btn {
  display: inline-block;
  list-style: none;
}
.tab-content-wrapper {
  border: solid 1px #000000;
  margin-top: 0;
}
.tab-content {
  display: none;
  padding: 20px;
  &.isActive {
    display: block;
  }
}
