@import url("https://fonts.googleapis.com/css2?family=Cousine&family=Suez+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
$asset-path: 'http://localhost:5000/static/img/';
$hebrew: "Suez One", serif;
$logo-color: #bb2205;
$hebrew-input: "Cousine", monospace;
$title: 'Alfa Slab One', cursive;
$header-bg: rgba(246, 131, 15, 0.604);
$body-bg: #fdfbf7;
$nav-bg: #fff8cd;
$dark-txt: #3b3b3b;
$very-dark-txt: #070031;
$light-txt: #abaca4;
$tab-active: #fff5ea;
$tab-inactive-bg: #eececd;
$tab-active-ds: #fa7f72;
$tab-content-wrapper: #fdfdfd;
