@import url("https://fonts.googleapis.com/css2?family=Cousine&family=Suez+One&display=swap");

$hebrew: "Suez One", serif;
$hebrew-input: "Cousine", monospace;
$header-bg: #d9e4dd;
$body-bg: #fbf7f0;
$nav-bg: #d6d2c4;
$dark-txt: #555555;
$tab-active: #fff5ea;
$tab-inactive-bg: #eececd;
$tab-active-bg: #fa7f72;
$tab-content-wrapper: #fdfdfd;
