{% extends "base.html" %} {% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-12 jumbotron text-center">
      <h1 class="display-2 hebrew heb-title">אוצר הבלום</h1>
      <h1 class="display-4">Shas Notes</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>Welcome {{name}}!</h3>
      <hr />
      {% if learning != [] %}
      <h5>Currently Learning:</h5>
      {% for m in learning%}
      <div class="card hebrew">
        <div class="card-body">
          <h3 class="card-title ">{{m.hebName}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{m.pages}} דפים</h6>
          <p class="card-text text-muted">{{"%.2f"|format(41/m.pages * 100)}}% נלמד</p>
          <p class="card-text"></p> אתה לומד דף מב עמוד ב &nbsp;&nbsp;&nbsp;<button class="btn btn-success">סיימתי</button></p>
          <p class="card-text">
            דוגמא של סדר - כאן תהיה מידע על הדף שבו אתה לומד עכשיו ההערות האחרונות שלך.
          </p>
          <p class="card-text">גם ההערות עם כוכב וכו'</p>
          <a href="{{url_for('add_note')}}" class="btn btn-info card-link">הוסף הערה</a>
        </div>
      </div>

      {% endfor %} {% endif %}
    </div>
  </div>
</div>

{% endblock content %}
