{% extends "base.html" %} 
{% set active_page = "register" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12 mt-5">
      <h2 class="text-center">Register</h2>
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-md-9 col-md-offset-9 mt-5">
      <form method="POST" action="" novalidate>
        {{form.hidden_tag()}}
        <div class="form-group row">
          <div class="col">
            {{form.username.label}} {{form.username(class="form-control",
            placeholder="ivartheboneless")}}
          </div>
          <div class="col">
            {{form.email.label}} {{form.email(class="form-control",
            placeholder="email@domain.com")}}
          </div>
        </div>
        <div class="form-group row">
          <div class="col">
            {{form.first_name.label}} {{form.first_name(class="form-control",
            placeholder="Ivar")}}
          </div>
          <div class="col">
            {{form.last_name.label}} {{form.last_name(class="form-control",
            placeholder="Ragnarsson")}}
          </div>
        </div>
        <div class="form-group row">
          <div class="col">
            {{form.password.label}} {{form.password(class="form-control")}}
          </div>
          <div class="col">
            <button type="submit" class="btn btn-lg btn-primary mt-4">
              Register
            </button>
          </div>
        </div>
      </form>
      <br />
    </div>
  </div>
</div>
{% endblock content %}
